/* bingoweb login XHTML V1.0.20090927 */

#login{background:url(login_body.png) repeat-x left center;}
#login .container{width:560px;height:310px; background:url(login_content.png) no-repeat; position:absolute;left:50%; margin-left:-280px; top:50%; margin-top:-155px;}

#login .header{display:none;}
#login .header h1{}

#login .content{padding:90px 0px 0px 290px; height:170px;}

#login .content table{}
#login .content table th{ width:80px;height:23px; text-align:left; padding:5px; font-size:10pt;}
#login .content table td{}
#login .content table tfoot td{ padding-top:5px; }

#login .footer{text-align:center;}


#login .content table td .selectbox{ height:20px; line-height:20px;border:1px solid #3a77a2; background:#fff;}
#login .content table td select{width:141px; height:18px; border:none;}
#login .content table td input{ width:133px; height:16px; line-height:16px; border:1px solid #3a77a2; background-color:#f1f9ff;padding-left:3px;padding-right:3px;}
#login .content table td input.hover{border:1px solid #ff6600; background-color:#fefbbd;}
#login .content table td a:link {text-decoration:underline;}
#login .content table tfoot td input{ height:20px; width:50px;font-size:9pt;border:solid 1px #3a77a2;color:#064a79;margin-right:5px; background:url(../bg_button.gif) repeat-x;padding-left:8px;padding-right:8px;padding-top:0px;cursor:pointer;}
#login .content table tfoot td input.hover{width:50px;border:solid 1px #ff6600;color:#ff6600;background-position:0% -18px;cursor:pointer;}


