/*opewnwin.htm css*/
#dialog{padding:15px;}

#dialog .header{display:none;}

#dialog .formitem{border:1px solid #A8CFEB;border-top:none;margin-bottom:10px;}
#dialog .formitem caption{border:1px solid #A8CFEB;border-bottom:none; background-color:#DFEAFB;text-align:left; font-weight:bold;color:#1C568A;height:18px;padding-left:5px;padding-top:5px;}
#dialog .formitem th{height:22px; background-color:#F1F6FF;padding-left:3px;width:120px;text-align:left;}
#dialog .formitem td{padding:3px;background-color:#ffffff; line-height:20px;padding-right:15px; white-space:nowrap}

#dialog .footer { text-align:right;padding-right:0px;padding-top:8px;}
#dialog .footer  .pageinfo{padding-top:5px;padding-left:3px;color:#3a6683; float:left;}
#dialog .footer  .pagebtn {display:inline;padding-right:2px;color:#3a6683;}
#dialog .footer  a{background:url(../linkbtn_left.gif) no-repeat left top;height:20px;padding:0px 0px 0px 3px;text-decoration:none;  display:inline-block;}
#dialog .footer  a span {background:url(../linkbtn_right.gif) no-repeat right top;height:16px;  display:inline-block; color:#3F5687; padding:4px 5px 0px 2px;text-align:center; cursor:hand;white-space:nowrap; WORD-BREAK: keep-all;}
#dialog .footer  a:hover {background-position:0% -20px;}
#dialog .footer  a:hover span {background-position:100% -20px;color:#333;}

